.header{
    display: flex;
    justify-content: space-between;
    border:1px solid black;
}

.logo{
    width: 200px;
}

.nav-items{
    padding: 20px;
}
.nav-items > ul {
    display: flex;
    list-style: none;
    font-size: 20px;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}
.res-container{
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    gap: 10px;
}
.res-card {
    padding: 13px;
    width: 200px;
    cursor: pointer;
}
.res-card:hover{
    border: 1px solid black;
}

.Search{
    padding: 10px;
}

.res-logo{
    width: 100%;
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
}